<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>

		<!-- CONEXIÓN ACTUAL (Servidor Linux en red) -->
		<add name="CnxAutoMarket"
			 connectionString="Server=192.168.0.11;Database=AutoMarket;User Id=sa;Password=Sqldevjos35.;"
			 providerName="System.Data.SqlClient" />

		<!-- OPCIÓN 1: SQL Server local en Windows (localhost) -->
		<!--2
    <add name="CnxAutoMarket"
         connectionString="Server=localhost;Database=AutoMarket;User Id=sa;Password=tu_password;"
         providerName="System.Data.SqlClient" />
    -->

		<!-- OPCIÓN 2: SQL Server Express -->
		<!--
    <add name="CnxAutoMarket"
         connectionString="Server=.\SQLEXPRESS;Database=AutoMarket;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
    -->

		<!-- OPCIÓN 3: Windows Authentication -->
		<!--
    <add name="CnxAutoMarket"
         connectionString="Server=localhost;Database=AutoMarket;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
    -->

	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>