<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
	<connectionStrings>
		<add name="CnxAutoMarket"
             connectionString="Data Source=182.168.0.11\SQLEXPRESS;Initial Catalog=AutoMarket;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>